body {
  font-family: "kanit", Helvetica, sans-serif;
  background-color: #fff;
  padding:0;
  margin:0;
  width: 500px;
  margin: 0 auto;  
  font-weight:400;
}

.clear{
	margin:0;
	padding:0;
	clear:both;
}
p{
margin:0;
}

b{
	font-weight:700;
}

header {
  margin-bottom: 10px;
}

header h1{
	float:left;
	width:50%;
	font-size: 20px;
	font-weight:700;
}


header .header-date {
	float:right;
	width:50%;
	text-align:right;
	font-size: 15px;
	margin-top:8px;
	font-weight: 300;
}
main {
  padding: 15px 32px 0 32px;
	background-color: #fff;
	margin:0;
}
footer {
    padding: 27px 36px;
    background-color: #0E0E0E;
    color: #fff;
	margin:0;
	margin-bottom:-10px;
	clear:both;  
}
.car-info {
    display: block;
    padding: 16px 24px;
    margin-bottom: 24px;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
	width:100%;
}
.car-info .col-left {
    float:left;
    width: 49%;
	font-size: 15px;
}

.car-info .col-left .car-details{
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
	width:90%;
}

.car-info .col-left .car-details h2 {
    font-weight: 500;
    margin: 0;
	font-size: 20px;
}

.car-info .col-left .car-details h2 a{
    font-weight: 500;
    margin: 0;
	font-size: 20px;
	text-decoration:none;
	color:#000;
}


.car-info .col-left .car-details p {
    font-weight: 400;
    margin: 0;
    font-size: 15px;
}

.car-info .col-left .car-details p a{
    font-weight: 400;
    margin: 0;
    font-size: 15px;
	text-decoration:none;
	color:#000;	
}


.car-info .col-left .customer-details{
	padding-top: 10px;
}


.car-info .col-left .customer-details .styP{
	font-weight: 400;
}

.car-info .col-left .customer-details .styP.first{
	font-weight: 500;
	font-size: 18px;
}





.car-info .col-right {
    width: 50%;
    float:right;
    vertical-align: top;
	text-align:right;
	border-radius: 10px;
}

.car-info .col-right img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.presu-details .presu-details-row {
    display: block;
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
}


.presu-details .presu-details-row .col-left{
    text-align: left;
    float: left;
}

.presu-details .presu-details-row .col-right {
    text-align: right;
    float: right;
}

.presu-details .presu-details-row .col-left .presu-item-name {
  font-size: 16px;
  line-height: 21px;
  margin: 12px 0;
}

.presu-details .presu-details-row .col-right .presu-item-value {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  margin: 12px 0;
}
.presu-details .presu-details-row .presu-item-desc {
  font-size: 12px;
  line-height: 15px;
  color:  #8F8F8F;
  margin: 4px 0;
}
.presu-details .presu-details-row .presu-item-desc:last-child {
  margin-bottom: 12px;
}
.presu-details .presu-details-row:last-child {
  border-bottom: 0;
  margin-bottom: 24px;
}
.presu-ammount {
    display: block;
    background-color: #EFEFEF;
    padding: 16px 24px;
    width: 100%;
    margin: 16px auto 16px auto;
}
.presu-ammount .presu-ammount-text {
  font-size: 16px;
  float:left;
  text-align:left;
  width:45%;
  margin-top:0px;
   padding-top: 7px;
}
.presu-ammount .presu-ammount-price {
  font-size: 24px;
  font-weight: 800;
  color: #00A9C3;
   float:right;
  text-align:right; 
  width:45%;
  padding-top: 0px;
}
.presu-terms {
    display: block;
    margin-bottom: 30px;
    width: 100%;
}
.presu-terms .terms-icon {
    float: left;
    text-align: left;
    width: 5%;
}
.presu-terms .presu-terms-text {
  font-size: 10px;
  line-height: 12px;
    float: right;
    width: 94%;  
}
.presu-footer {
    display: block;
    width: 100%;
}

.presu-footer .footer-logo{
float: left;
    width: 30%;
}

.presu-footer .footer-logo img{
width: 95px;
}

.presu-footer .footer-contact {
    display: block;
    float: right;
    width: 44%;
    padding-top: 10px;
    text-align: left;
}
.presu-footer .footer-contact .footer-contact-col {
    font-size: 10px;
    margin-left: 0;
    float: left;
    width: 122px;
}

.presu-footer .footer-contact .footer-contact-col.right {
    float: right;
}


.presu-footer .footer-contact .footer-contact-col a{
    text-decoration: none;
    color: #fff;
}


.presu-footer .footer-contact .footer-contact-col .autocityImg{
    float: left;
    width: 10px;
}

.presu-footer .footer-contact .footer-contact-col .autocityText{
    float: right;
    margin-top: -3px;
    width: 100px;
}

.col-right {
	width:50%;
}

.col-left {
	width:49%;
}